#header {
}
.lady{
  height:100px;
  float: left;
  padding-right: 1em;
}
.top{
  padding-top: 1.25em;
}

.rowss{
}
h3{
  font-size: 14px;
  color: grey;
}
a{
  font-size: 12px;
  color: blue;
}
.sidebar {
  background-color: #E8E8E8;
}
.panel-danger {
  background-color: #faf5ff;
}

.panel-danger>.panel-heading {
  background-color: #ddcef2;
  color: black;
}

.panel-info {
  background-color: #f5faff;
}

.panel-info>.panel-heading {
  color: black;
}

.panel-success {
  background-color: #f5fffa;
}

.panel-success>.panel-heading {
  color: black;
}
